*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #141519;
}

.container{
    background-color: #1f2630;
    width: 360px;
    height: 350px;
    margin: 250px auto;
    border-radius: 17px;
}


.icon{
    color: orange;
    background-color: #262f38;
    border-radius: 50%;
    font-size: 25px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 28px;

}

.header-text{
    color: white;
    font-size: 30px;
    padding: 15px 0;
    margin-left: 28px;
}

.container-text{
    color: rgb(67, 67, 67);
    font-size: 14px;
    padding: 0 0 15px;
    margin-left: 28px;
}

.flex-container{
    display: flex;
    gap: 30px;
    margin-left: 26px;
}


.rounded-button{
    background-color: #262f38;
    border-radius: 50%;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
}

.rounded-button:hover{
    background-color: orange;
}

.rounded-button:focus{
    background-color: rgb(154, 154, 154);
}



.submit-button button{
    width: 305px;
    height: 40px;
    margin-left: 28px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: orange;

}